<div class="row justify-content-center">
    <div class="col-8">
        <form id="department-update-form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-department-heading" jhiTranslate="supplyMeApp.department.home.createOrEditLabel">Create or edit a Department</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="department.code" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="department.description" />
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="activated" name="activated" [(ngModel)]="department.activated">
                    <label class="form-check-label" for="activated">
                        <span jhiTranslate="supplyMeApp.department.activated">Activated</span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.headUser" for="field_headUser">Head User</label>
                    <jhi-user-selector required name="headUser" id="field_headUser" [(ngModel)]="department.headUser"></jhi-user-selector>
                </div>
                <div [hidden]="!(editForm.controls.headUser?.dirty && editForm.controls.headUser?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.headUser?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.defaultProject" for="field_defaultProject">Default Project</label>
                    <jhi-project-selector id="field_defaultProject" name="defaultProject" [(ngModel)]="department.defaultProject"></jhi-project-selector>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
