<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span jhiTranslate="supplyMeApp.department.detail.title">Department</span> {{department | smDepartment }}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supplyMeApp.department.code">Code</span></dt>
                <dd>
                    {{department.code }}
                </dd>
                <dt><span jhiTranslate="supplyMeApp.department.description">Description</span></dt>
                <dd>
                    {{department.description }}
                </dd>
                <dt><span jhiTranslate="supplyMeApp.department.activated">Active</span></dt>
                <dd>
                    <span>{{department.activated | yesNo | translate }}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.department.headUser">Head User</span></dt>
                <dd>
                    {{department.headUser | smUser }}
                </dd>
                <dt><span jhiTranslate="supplyMeApp.department.defaultProject">Default Project</span></dt>
                <dd>
                    <div *ngIf="department.defaultProject">
                        <a [routerLink]="['/project', department.defaultProject?.id, 'view']">{{department.defaultProject | smProject }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="global.field.creationUser">Creation User</span></dt>
                <dd>
                    <span>{{department.creationUser | smUser }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{department.creationDate | datetimeFormat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="['ROLE_DEPARTMENT_MANAGER']" type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
