<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-department-heading" jhiTranslate="supplyMeApp.department.home.createOrEditLabel">Create or edit a Department</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!department.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="department.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="department.code" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="department.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="creationDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="department.active" />
                    <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.active?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.creationUser" for="field_creationUser">Creation User</label>
                    <select class="form-control" id="field_creationUser" name="creationUser" [(ngModel)]="department.creationUser"  required>
                        <option *ngIf="!editForm.value.creationUser" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === department.creationUser?.id ? department.creationUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.creationUser?.dirty && editForm.controls.creationUser?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creationUser?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.headUser" for="field_headUser">Head User</label>
                    <select class="form-control" id="field_headUser" name="headUser" [(ngModel)]="department.headUser"  required>
                        <option *ngIf="!editForm.value.headUser" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === department.headUser?.id ? department.headUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.headUser?.dirty && editForm.controls.headUser?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.headUser?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.department.defaultProject" for="field_defaultProject">Default Project</label>
                    <select class="form-control" id="field_defaultProject" name="defaultProject" [(ngModel)]="department.defaultProject" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id === department.defaultProject?.id ? department.defaultProject : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
