<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="material">
            <h2>{{material | smMaterial }}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supplyMeApp.material.partNumber">Part Number</span></dt>
                <dd>
                    <span [ngClass]="{'temporary': material.temporary}">{{material.partNumber}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.material.name">Name</span></dt>
                <dd>
                    <span>{{material.name}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.material.description">Description</span></dt>
                <dd>
                    <span>{{material.description | nullToDash }}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.material.category">Category</span></dt>
                <dd>
                    <span>{{ material.materialCategory.name }}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.material.estimatedPrice">Estimated unit price</span></dt>
                <dd>
                    <span>{{ material.estimatedPrice | currencyCustom | nullToDash }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.creationUser">Creation User</span></dt>
                <dd>
                    <span>{{material.creationUser | smUser }}</span>
                </dd>
                <dt><span jhiTranslate="global.field.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{material.creationDate | datetimeFormat }}</span>
                </dd>
            </dl>
            <div class="accordion">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-availabilities">
                    <ngb-panel id="ngb-panel-availabilities" *ngIf="availabilities.length > 0">
                        <ng-template ngbPanelTitle>
                            <fa-icon [icon]="'sort-down'"></fa-icon>
                            <span class="title" jhiTranslate="supplyMeApp.supplier.home.title">Suppliers</span>
                            <span class="title" >: {{ availabilities.length }} </span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-left"><span jhiTranslate="supplyMeApp.materialAvailability.supplier">Supplier</span></th>
                                            <th class="text-right"><span jhiTranslate="supplyMeApp.materialAvailability.purchasePrice">Price</span></th>
                                            <th><span jhiTranslate="supplyMeApp.materialAvailability.updateDate">Update date</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let availability of availabilities">
                                            <td class="text-left">
                                                <a [routerLink]="['/supplier', availability.supplier?.id, 'view' ]">
                                                    {{ availability.supplier | smSupplier }}
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                <span class="numeric"
                                                    [ngClass]="{'highestprice': availability.purchasePrice === maxPrice, 'lowestprice': availability.purchasePrice === minPrice}">
                                                    {{ availability.purchasePrice | currencyCustom }}
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                {{ availability.updateDate | datetimeFormat }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="ngp-panel-empty" >
                    </ngb-panel>
                </ngb-accordion>
            </div>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <ng-container *jhiHasAnyAuthority="'ROLE_MATERIAL_MANAGER'">
                <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
                <button *ngIf="material.temporary" type="button" class="btn btn-primary" (click)="validate()">
                    <fa-icon [icon]="['far','check-circle']"></fa-icon>&nbsp;<span jhiTranslate="entity.action.validate">Validate</span>
                </button>
            </ng-container>
        </div>
    </div>
</div>
