<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demandCategory">
            <h2><span jhiTranslate="supplyMeApp.demandCategory.detail.title">Demand Category</span> {{demandCategory.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supplyMeApp.demandCategory.name">Name</span></dt>
                <dd>
                    <span>{{demandCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demandCategory.description">Description</span></dt>
                <dd>
                    <span>{{demandCategory.description}}</span>
                </dd>
                <dt><span jhiTranslate="global.field.creationUser">Creation User</span></dt>
                <dd>
                    {{demandCategory.creationUser | smUser }}
                </dd>
                <dt><span jhiTranslate="global.field.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{demandCategory.creationDate | datetimeFormat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demand-category', demandCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
