<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.demand.reject.title(${demand.code})}">Your demand has been rejected</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <style th:replace="mail/fragmentDemandStyle::fragmentDemandStyle"></style>
    </head>
    <body>
        <p th:text="#{email.greeting.one(${demand.creationUser.firstName})}">
            Dear
        </p>
        <p th:utext="#{email.demand.reject.text1(${baseUrl},${#strings.toString(demand.id)},${demand.code}, ${#dates.format(demand.creationDate, 'yyyy-MM-dd')})}">
            Your purchase request ... created on ... has been rejected
        </p>
        <p th:text="#{email.demand.reject.text2(${rejecter})}"></p>
        <div th:include="mail/fragmentDemandDetail::fragmentDemandDetail(${demand})"></div>
        <p th:replace="mail/fragmentGreetings::fragmentGreetings"></p>
    </body>
</html>
