<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.demand.waitingForApproval.title(${demand.code})}">The request XXX is waiting for your approval </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <style th:replace="mail/fragmentDemandStyle::fragmentDemandStyle"></style>
    </head>
    <body>
        <p th:text="#{email.greeting.several}">
            Dear
        </p>
        <p th:utext="#{email.demand.waitingForApproval.text1(${baseUrl},${#strings.toString(demand.id)},${demand.code},${author} )}">
            The request XXX made by YYYY is waiting ...
        </p>
        <div th:include="mail/fragmentDemandDetail::fragmentDemandDetail(${demand})"></div>
        <p th:replace="mail/fragmentGreetings::fragmentGreetings"></p>
    </body>
</html>
