<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-material-category-heading" jhiTranslate="supplyMeApp.materialCategory.home.createOrEditLabel">Create or edit a Material Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialCategory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="materialCategory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.materialCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="materialCategory.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.materialCategory.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="materialCategory.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.materialCategory.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="creationDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.creationDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.materialCategory.parentMaterialCategory" for="field_parentMaterialCategory">Parent Material Category</label>
                    <select class="form-control" id="field_parentMaterialCategory" name="parentMaterialCategory" [(ngModel)]="materialCategory.parentMaterialCategory" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="materialCategoryOption.id === materialCategory.parentMaterialCategory?.id ? materialCategory.parentMaterialCategory : materialCategoryOption" *ngFor="let materialCategoryOption of materialcategories; trackBy: trackMaterialCategoryById">{{materialCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.materialCategory.creationUser" for="field_creationUser">Creation User</label>
                    <select class="form-control" id="field_creationUser" name="creationUser" [(ngModel)]="materialCategory.creationUser" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === materialCategory.creationUser?.id ? materialCategory.creationUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
