/* ==============================================================
    Material selector styles
===============================================================*/
.temporary {
    background-color: #eee;
    color: lightseagreen;
    font-style: italic;
}

.ui-state-highlight {
    font-weight: bold;
}
