<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demand">
            <h2><span jhiTranslate="supplyMeApp.demand.detail.title">Demand</span> {{demand.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supplyMeApp.demand.material">Material</span></dt>
                <dd>
                    <div *ngIf="demand.material">
                        <a [routerLink]="['/material', demand.material?.id, 'view']">{{demand.material?.partNumber + '
                            - ' + demand.material?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demand.project">Project</span></dt>
                <dd>
                    <div *ngIf="demand.project">
                        <a [routerLink]="['/project', demand.project?.id, 'view']">{{demand.project?.code + ' - ' +
                            demand.project?.description }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demand.quantity">Quantity</span></dt>
                <dd>
                    <span>{{demand.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demand.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'supplyMeApp.DemandStatus.' + demand.status}}">{{demand.status}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demand.expectedDate">Expected Date</span></dt>
                <dd>
                    <span>{{demand.expectedDate | dateFormat}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demand.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{demand.creationDate | datetimeFormat}}</span>
                </dd>
                <dt><span jhiTranslate="supplyMeApp.demand.creationUser">Creation User</span></dt>
                <dd>
                    {{demand.creationUser?.lastName + ' ' + demand.creationUser?.firstName}}
                </dd>
            </dl>

            <div *ngIf="purchaseOrderLines && purchaseOrderLines.length > 0">
                <h3>
                    <span jhiTranslate="supplyMeApp.purchaseOrder.home.title">Purchase orders</span>
                </h3>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th><span jhiTranslate="supplyMeApp.purchaseOrder.code">Code</span></th>
                            <th><span jhiTranslate="supplyMeApp.purchaseOrder.supplier">Supplier</span></th>
                            <th><span jhiTranslate="supplyMeApp.purchaseOrder.status">Status</span></th>
                            <th><span jhiTranslate="supplyMeApp.purchaseOrder.expectedDate">ExpectedDate</span></th>
                            <th><span jhiTranslate="supplyMeApp.purchaseOrderLine.quantity">Quantity</span></th>
                            <th><span jhiTranslate="supplyMeApp.purchaseOrderLine.orderPrice">Order price</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let line of purchaseOrderLines">
                            <td class="text-center">
                                <a [routerLink]="['/purchase-order', line.purchaseOrder?.id, 'view' ]">{{
                                    line.purchaseOrder.code }}</a>
                            </td>
                            <td>
                                <div *ngIf="line.purchaseOrder.supplier">
                                    <a [routerLink]="['/supplier', line.purchaseOrder.supplier?.id, 'view' ]">{{
                                        line.purchaseOrder.supplier?.name }}</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <span jhiTranslate="{{'supplyMeApp.PurchaseOrderStatus.' + line.purchaseOrder.status}}">{{line.purchaseOrder.status}}</span>
                            </td>
                            <td class="text-center">{{ line.purchaseOrder.expectedDate | dateFormat }} </td>
                            <td class="numeric">{{ line.quantity }} </td>
                            <td class="numeric">{{ line.orderPrice | currency:'CNY':'symbol-narrow':'1.0-3' }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="demand.demandStatusChanges && demand.demandStatusChanges.length > 0">
                <h3>
                    <span jhiTranslate="supplyMeApp.demand.statusChange.title">Events</span>
                </h3>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th><span jhiTranslate="supplyMeApp.demand.creationDate">Creation date</span></th>
                            <th><span jhiTranslate="supplyMeApp.demand.creationUser">Creation user</span></th>
                            <th><span jhiTranslate="supplyMeApp.demand.status">Status</span></th>
                            <th><span jhiTranslate="supplyMeApp.demand.statusChange.comment">Comment</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let statusChange of demand.demandStatusChanges">
                            <td class="text-center" style="width: 20%">{{ statusChange.creationDate | datetimeFormat }}</td>
                            <td style="width: 20%">{{ statusChange.creationUser.lastName + ' ' +
                                statusChange.creationUser.firstName }}</td>
                            <td class="text-center" style="width: 20%"><span jhiTranslate="{{'supplyMeApp.DemandStatus.' + statusChange.status}}">Status</span></td>
                            <td style="width: 40%">{{statusChange.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *ngIf="editable" type="button" [routerLink]="['/demand', demand.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
