<div>
    <h2 id="page-heading">
        <span jhiTranslate="supplyMeApp.demand.home.title">Demands</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demand" [routerLink]="['/demand/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="supplyMeApp.demand.home.createLabel">
                Create new Demand
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="searchCriteria.query" id="currentSearch" name="currentSearch"
                        placeholder="{{ 'supplyMeApp.demand.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="searchClick()">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="!searchCriteria.isEmpty()">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
                <div class="showfilter" [ngClass]="{'collapsed': isAdvancedFilterDisplayed}">
                    <button type="button" class="btn" (click)="expandCollapse()">
                        <fa-icon [icon]="'sort-down'"></fa-icon>
                    </button>
                    <span jhiTranslate="search.showAdvancedFilters" (click)="expandCollapse()"></span>
                </div>
                <div class="showfilter" [ngClass]="{'collapsed': !isAdvancedFilterDisplayed}">
                    <button type="button" class="btn" (click)="expandCollapse()">
                        <fa-icon [icon]="'sort-up'"></fa-icon>
                    </button>
                    <span jhiTranslate="search.hideAdvancedFilters" (click)="expandCollapse()"></span>
                </div>
                <div class="input-group w-100 mt-3" [ngClass]="{'collapsed': !isAdvancedFilterDisplayed }">
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.project" for="field_project">Project</label>
                    <jhi-project-selector class="w35" id="field_project" name="project" [(ngModel)]="searchCriteria.project"></jhi-project-selector>
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.material" for="field_material">Material</label>
                    <jhi-material-selector class="w35" id="field_material" name="material" [(ngModel)]="searchCriteria.material"></jhi-material-selector>
                </div>
                <div class="input-group w-100 mt-3" [ngClass]="{'collapsed': !isAdvancedFilterDisplayed }">
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.status" for="field_status">Status</label>
                    <p-multiSelect class="w35" name="status" [defaultLabel]="'selector.status.placeholder' | translate"
                        [inputStyle]="{'width':'100%'}" [showHeader]="false" [style]="{'width':'100%', 'padding': '0.1em 0.5em'}"
                        [selectedItemsLabel]="'selector.status.selectedItemsLabel' | translate" [scrollHeight]="'230px'"
                        [maxSelectedLabels]="0"
                        [options]="availableStatus" [(ngModel)]="searchCriteria.status" id="field_status">
                        <ng-template let-statusItem pTemplate="item">
                            <span jhiTranslate="{{ 'supplyMeApp.DemandStatus.' + statusItem.value }}"></span>
                        </ng-template>
                    </p-multiSelect>
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.creationUser" for="field_creationUser">Creation User</label>
                    <jhi-user-selector class="w35" id="field_creationUser" name="creationUser" [(ngModel)]="searchCriteria.creationUser"></jhi-user-selector>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="table-responsive" *ngIf="demands">
        <form name="listForm" class="form-inline">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <th jhiSortBy="id" class="text-center"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="material.partNumber.keyword" class="text-center"><span jhiTranslate="supplyMeApp.demand.material">Material</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="quantity" class="text-center"><span jhiTranslate="supplyMeApp.demand.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="project.code.keyword" class="text-center"><span jhiTranslate="supplyMeApp.demand.project">Project</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="status.keyword" class="text-center"><span jhiTranslate="supplyMeApp.demand.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="expectedDate" class="text-center"><span jhiTranslate="supplyMeApp.demand.expectedDate">Expected Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="creationDate" class="text-center"><span jhiTranslate="supplyMeApp.demand.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let demand of demands ;trackBy: trackId">
                        <!-- <td><input type="checkbox" attr.data-rowid="{{demand.id}}" /></td> -->
                        <td><a [routerLink]="['/demand', demand.id, 'view' ]">{{demand.id}}</a></td>
                        <td class="text-center">
                            <div *ngIf="demand.material" title="{{ demand.material?.partNumber + ' - ' + demand.material?.name + '\n' + demand.material?.description }}">
                                <a [routerLink]="['../material', demand.material?.id, 'view' ]">{{demand.material?.partNumber}}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <span class="numeric">{{demand.quantity}}</span>
                        </td>
                        <td>
                            <div *ngIf="demand.project" title="{{ demand.project?.code + ' - ' + demand.project?.description }}">
                                <a [routerLink]="['../project', demand.project?.id, 'view' ]">{{demand.project?.code}}</a>
                            </div>
                        </td>
                        <td jhiTranslate="{{'supplyMeApp.DemandStatus.' + demand.status}}">{{demand.status}}</td>
                        <td class="text-center">{{demand.expectedDate | dateFormat }}</td>
                        <td class="text-center" title="{{demand.creationDate | datetimeFormat }}">{{demand.creationDate | dateFormat }}</td>
                        <td class="text-left">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['/demand', demand.id, 'view' ]" class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <div *ngIf="isEditAllowed(demand); then editableDemandBlock"></div>
                                <div *ngIf="isApprovalAllowed(demand); then approvalDemandBlock"></div>
                                <div *ngIf="isPurchaseOrderAllowed(demand); then orderDemandBlock"></div>
                                <div *ngIf="isDeleteAllowed(demand); then deleteDemandBlock"></div>
                                <ng-template #editableDemandBlock>
                                    <button type="submit" [routerLink]="['/demand', demand.id, 'edit']" class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </button>
                                    <button type="submit" [routerLink]="['/demand']" class="btn btn-primary btn-sm"
                                        title="{{ 'supplyMeApp.demand.button.sendToApproval' | translate }}" (click)="sendToApproval(demand)">
                                        <fa-icon [icon]="'share-square'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #approvalDemandBlock>
                                    <button type="submit" [routerLink]="['/demand']" class="btn btn-primary btn-sm" style="margin-left:2px"
                                        [disabled]="demand.material.temporary" title="{{ 'supplyMeApp.demand.button.approve' | translate }}"
                                        (click)="approve(demand)">
                                        <fa-icon [icon]="'thumbs-up'"></fa-icon>
                                    </button>
                                    <button type="button" [routerLink]="['/', { outlets: { popup: 'demand/'+ demand.id + '/REJECTED/comment'} }]"
                                        class="btn btn-primary btn-sm"
                                        title="{{ 'supplyMeApp.demand.button.reject' | translate }}">
                                        <fa-icon [icon]="'thumbs-down'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #orderDemandBlock>
                                    <button type="button" [routerLink]="['/purchase-order/new']" [queryParams]="{demandId : demand.id}"
                                        class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'shopping-cart'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #deleteDemandBlock>
                                    <button type="submit" [routerLink]="['/', { outlets: { popup: 'demand/'+ demand.id + '/delete'} }]"
                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </ng-template>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
