/* ==============================================================
Search fields
===============================================================*/
.criteria-label {
    padding-right: 10px;
}

.w10 {
    width: 10%;
}

.w35 {
    width: 30%;
}
