<div>
    <h2 id="page-heading">
        <span jhiTranslate="supplyMeApp.demand.home.title">Demands</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demand" [routerLink]="['/demand/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="supplyMeApp.demand.home.createLabel">
                Create new Demand
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="searchCriteria.query" id="currentSearch" name="currentSearch"
                        placeholder="{{ 'supplyMeApp.demand.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="searchClick()">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="!searchCriteria.isEmpty()">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
                <div class="input-group w-100 mt-3">
                    <button type="button" class="btn btn-outline-info btn-xs" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed">
                        <ng-container *ngIf="isCollapsed; else elseTemplate">
                            <fa-icon [icon]="'sort-down'"></fa-icon>
                            <span jhiTranslate="search.showAdvancedFilters"></span>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <fa-icon [icon]="'sort-up'"></fa-icon>
                            <span jhiTranslate="search.hideAdvancedFilters"></span>
                        </ng-template>
                    </button>
                </div>
                <div class="input-group w-100 mt-3" [ngbCollapse]="isCollapsed" >
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.project" for="field_project">Project</label>
                    <jhi-project-selector class="w35" id="field_project" name="project" [(ngModel)]="searchCriteria.project"></jhi-project-selector>
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.material" for="field_material">Material</label>
                    <jhi-material-selector class="w35" id="field_material" name="material" [(ngModel)]="searchCriteria.material"></jhi-material-selector>
                </div>
                <div class="input-group w-100 mt-3" [ngbCollapse]="isCollapsed" >
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.status" for="field_status">Status</label>
                    <p-multiSelect class="w35" name="status" [defaultLabel]="'selector.status.placeholder' | translate"
                        [inputStyle]="{'width':'100%'}" [showHeader]="false" [style]="{'width':'100%', 'padding': '0.1em 0.5em'}"
                        [selectedItemsLabel]="'selector.status.selectedItemsLabel' | translate" [scrollHeight]="'230px'"
                        [maxSelectedLabels]="0"
                        [options]="availableStatus" [(ngModel)]="searchCriteria.status" id="field_status">
                        <ng-template let-statusItem pTemplate="item">
                            <span jhiTranslate="{{ 'supplyMeApp.DemandStatus.' + statusItem.value }}"></span>
                        </ng-template>
                    </p-multiSelect>
                    <label class="criteria-label w10" jhiTranslate="supplyMeApp.demand.creationUser" for="field_creationUser">Creation User</label>
                    <jhi-user-selector class="w35" id="field_creationUser" name="creationUser" [(ngModel)]="searchCriteria.creationUser"></jhi-user-selector>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="table-responsive" *ngIf="demands">
        <form name="listForm" class="form-inline">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <th jhiSortBy="code.keyword" class="text-left"><span jhiTranslate="supplyMeApp.demand.code">Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="status.keyword" class="text-center"><span jhiTranslate="supplyMeApp.demand.status">Status</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="material.partNumber.keyword" class="text-center"><span jhiTranslate="supplyMeApp.demand.material">Material</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="department.code.keyword" class="text-center"><span jhiTranslate="supplyMeApp.demand.department">Department</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="quantity" class="text-right"><span jhiTranslate="supplyMeApp.demand.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="amountWithVat" class="text-right"><span jhiTranslate="supplyMeApp.demand.amount">Amount</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="expectedDate" class="text-center"><span jhiTranslate="supplyMeApp.demand.expectedDate">Expected Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="creationDate" class="text-center"><span jhiTranslate="supplyMeApp.demand.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of demands ;trackBy: trackId">
                        <td>
                            <a [routerLink]="['/demand', item.demand.id, 'view' ]">{{item.demand.code}}</a>
                            <span *ngIf="item.demand.urgent" class="urgent fa fa-exclamation" title="{{ 'supplyMeApp.demand.urgencyWarning' | translate}} "></span>
                        </td>
                        <td class="text-center" >
                            <span [ngClass]="item.demand.status.toLowerCase()" jhiTranslate="{{'supplyMeApp.DemandStatus.' + item.demand.status}}">demand.status</span>
                        </td>
                        <td class="text-left">
                            <div *ngIf="item.demand.material" title="{{ item.demand.material?.partNumber + ' - ' + item.demand.material?.name + '\n' + item.demand.material?.description }}">
                                <a [routerLink]="['/material', item.demand.material?.id, 'view' ]">{{ item.demand.material | smMaterial }}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.demand.department" title="{{ item.demand.department | smDepartment }}">
                                <a [routerLink]="['/department', item.demand.department?.id, 'view' ]">{{item.demand.department | smDepartment }}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <span class="numeric">{{item.demand.quantity | number }}</span>
                        </td>
                        <td class="text-right">
                            <span class="numeric">{{item.demand.amountWithVat | currencyCustom }}</span>
                        </td>
                        <td class="text-center">{{item.demand.expectedDate | dateFormat }}</td>
                        <td class="text-center" title="{{item.demand.creationDate | datetimeFormat }}">{{item.demand.creationDate | dateFormat }}</td>
                        <td class="text-left">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['/demand', item.demand.id, 'view' ]" class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <div *ngIf="item.allowance.canEdit; then editableDemandBlock"></div>
                                <div *ngIf="item.allowance.canApprove; then approvalDemandBlock"></div>
                                <div *ngIf="item.allowance.canReject; then rejectDemandBlock"></div>
                                <div *ngIf="false; then orderDemandBlock"></div>
                                <div *ngIf="item.allowance.canDelete; then deleteDemandBlock"></div>
                                <ng-template #editableDemandBlock>
                                    <button type="submit" [routerLink]="['/demand', item.demand.id, 'edit']" class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        title="{{ 'supplyMeApp.demand.button.sendToApproval' | translate }}" (click)="sendToApproval(item.demand)">
                                        <fa-icon [icon]="'share-square'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #approvalDemandBlock>
                                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:2px"
                                        title="{{ 'supplyMeApp.demand.button.approve' | translate }}" (click)="approve(item.demand)">
                                        <fa-icon [icon]="'thumbs-up'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #rejectDemandBlock>
                                        <button type="button" [routerLink]="['/', { outlets: { popup: 'demand/'+ item.demand.id + '/REJECTED/comment'} }]"
                                        class="btn btn-primary btn-sm"
                                        title="{{ 'supplyMeApp.demand.button.reject' | translate }}">
                                        <fa-icon [icon]="'thumbs-down'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #orderDemandBlock>
                                    <button type="button" [routerLink]="['/purchase-order/new']" [queryParams]="{demandId : item.demand.id}"
                                        class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'shopping-cart'"></fa-icon>
                                    </button>
                                </ng-template>
                                <ng-template #deleteDemandBlock>
                                    <button type="submit" [routerLink]="['/', { outlets: { popup: 'demand/'+ item.demand.id + '/delete'} }]"
                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
