<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-demand-heading" jhiTranslate="supplyMeApp.demand.home.createOrEditLabel">Create or edit a Demand</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!demand.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="demand.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.material" for="field_material">Material</label>
                    <jhi-material-selector required id="field_material" name="material" [(ngModel)]="demand.material"></jhi-material-selector>
                    <a [routerLink]="['/', { outlets: { popup: 'demand/material/new'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            jhiTranslate="supplyMeApp.demand.button.createMaterial">
                    </a>
                    <div [hidden]="!(editForm.controls.material?.dirty && editForm.controls.material?.invalid)">
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.project" for="field_project">Project</label>
                    <jhi-project-selector required id="field_project" name="project" [(ngModel)]="demand.project" ></jhi-project-selector>
                    <div [hidden]="!(editForm.controls.project?.dirty && editForm.controls.project?.invalid)">
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="demand.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.expectedDate" for="field_expectedDate">Expected Date</label>
                    <div class="d-flex">
                        <p-calendar id="field_expectedDate" style="width:100%" [inputStyleClass]="'form-control'"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030" [style]="{'width': '100%'}"
                        [(ngModel)]="expectedDate" name="expectedDate" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
