<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-demand-heading" jhiTranslate="supplyMeApp.demand.home.createOrEditLabel">Create or edit a Demand</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!demand.id">
                    <label for="field_code" jhiTranslate="supplyMeApp.demand.code">code</label>
                    <input type="text" class="form-control" id="field_code" name="code" [(ngModel)]="demand.code" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.material" for="field_material">Material</label>
                    <jhi-material-selector (change)="onMaterialChange($event)" required id="field_material" name="material" [(ngModel)]="demand.material"></jhi-material-selector>
                    <a [routerLink]="['/', { outlets: { popup: 'demand/material/new'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            jhiTranslate="supplyMeApp.demand.button.createMaterial">
                    </a>
                    <div [hidden]="!(editForm.controls.material?.dirty && editForm.controls.material?.invalid)">
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.project" for="field_project">Project</label>
                    <jhi-project-selector required id="field_project" name="project" [(ngModel)]="demand.project" ></jhi-project-selector>
                    <div [hidden]="!(editForm.controls.project?.dirty && editForm.controls.project?.invalid)">
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.category" for="field_demandCategory">Category</label>
                    <jhi-demand-category-selector required id="field_demandCategory" name="demandCategory" [(ngModel)]="demand.demandCategory" ></jhi-demand-category-selector>
                    <div [hidden]="!(editForm.controls.demandCategory?.dirty && editForm.controls.demandCategory?.invalid)">
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.useAnnualBudget" for="field_useAnnualBudget_yes">Planned</label>
                    <div class="radio">
                        <label class="radio-inline" for="field_useAnnualBudget_yes">
                            <input type="radio" name="useAnnualBudget" id="field_useAnnualBudget_yes" required [value]="true" [(ngModel)]="demand.useAnnualBudget"/>
                            <span jhiTranslate="global.field.yes" ></span>
                        </label>
                        <label class="radio-inline" for="field_useAnnualBudget_no">
                            <input type="radio"  name="useAnnualBudget" id="field_useAnnualBudget_no" [value]="false" [(ngModel)]="demand.useAnnualBudget"/>
                            <span jhiTranslate="global.field.no" ></span>
                        </label>
                    </div>
                    <div [hidden]="!editForm.controls.planned?.invalid">
                            <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.planned" for="field_planned_yes">Planned</label>
                    <div class="radio">
                        <label class="radio-inline" for="field_planned_yes">
                            <input type="radio" name="planned" id="field_planned_yes" required [value]="true" [(ngModel)]="demand.planned"/>
                            <span jhiTranslate="global.field.yes" ></span>
                        </label>
                        <label class="radio-inline" for="field_planned_no">
                            <input type="radio"  name="planned" id="field_planned_no" [value]="false" [(ngModel)]="demand.planned"/>
                            <span jhiTranslate="global.field.no" ></span>
                        </label>
                    </div>
                    <div [hidden]="!editForm.controls.planned?.invalid">
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.urgent" for="field_urgent_yes">Planned</label>
                    <div class="radio">
                        <label class="radio-inline" for="field_urgent_yes">
                            <input type="radio" name="urgent" id="field_urgent_yes" [value]="true" [(ngModel)]="demand.urgent"/>
                            <span jhiTranslate="global.field.yes" ></span>
                        </label>
                        <label class="radio-inline" for="field_urgent_no">
                            <input type="radio"  name="urgent" id="field_urgent_no" [value]="false" [(ngModel)]="demand.urgent"/>
                            <span jhiTranslate="global.field.no" ></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.description" for="field_description">Project</label>
                    <textarea cols="50" rows="4" class="form-control" name="description" id="field_description" [(ngModel)]="demand.description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity" min="0" [(ngModel)]="demand.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.estimatedPrice" for="field_estimatedPrice">Estimated price</label>
                    <input type="number" class="form-control" name="estimatedPrice" id="field_estimatedPrice" [(ngModel)]="demand.estimatedPrice" />
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.supplier" for="field_supplier">Supplier</label>
                    <jhi-supplier-selector name="supplier" id="field_supplier" [(ngModel)]="demand.supplier" ></jhi-supplier-selector>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.demand.expectedDate" for="field_expectedDate">Expected Date</label>
                    <div class="d-flex">
                        <p-calendar id="field_expectedDate" style="width:100%" [inputStyleClass]="'form-control'"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030" [style]="{'width': '100%'}"
                        [(ngModel)]="expectedDate" name="expectedDate" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
