<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-purchase-order-heading" jhiTranslate="supplyMeApp.purchaseOrder.home.createOrEditLabel">Create or edit a Purchase Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!purchaseOrder.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="purchaseOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.purchaseOrder.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="purchaseOrder.code" required minlength="10" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.purchaseOrder.expectedDate" for="field_expectedDate">Expected Date</label>
                    <div class="d-flex">
                        <input id="field_expectedDate" type="datetime-local" class="form-control" name="expectedDate" [(ngModel)]="expectedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.purchaseOrder.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="purchaseOrder.status" id="field_status"  required>
                        <option value="NEW">{{'supplyMeApp.PurchaseOrderStatus.NEW' | translate}}</option>
                        <option value="PARTIALLY_DELIVERED">{{'supplyMeApp.PurchaseOrderStatus.PARTIALLY_DELIVERED' | translate}}</option>
                        <option value="BILLED">{{'supplyMeApp.PurchaseOrderStatus.BILLED' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.purchaseOrder.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="creationDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.creationDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.purchaseOrder.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="purchaseOrder.supplier" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="supplierOption.id === purchaseOrder.supplier?.id ? purchaseOrder.supplier : supplierOption" *ngFor="let supplierOption of suppliers; trackBy: trackSupplierById">{{supplierOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supplyMeApp.purchaseOrder.creationUser" for="field_creationUser">Creation User</label>
                    <select class="form-control" id="field_creationUser" name="creationUser" [(ngModel)]="purchaseOrder.creationUser" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === purchaseOrder.creationUser?.id ? purchaseOrder.creationUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
